.input-wrapper {
  position: relative;
}
.input {
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: none;
  color: var(--text-color);
  transition: all 0.3s ease;

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    background-color: white;
    transition:
      background-color 0s 600000s,
      color 0s 600000s !important;
  }

  &::placeholder {
    color: #ada7ab;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: #ada7ab;
  }

  &:focus,
  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &:disabled {
    background-color: white;
    color: var(--text-color);
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.toggle-visibility {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.label-text {
  margin-bottom: 4px;
}

.input-wrapper:has(.toggle-visibility) {
  input {
    padding-right: 40px;
  }
}

.search-input-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0.7;
}

.search-input {
  padding-left: 40px;
}

.checkbox-group {
  width: 100%;
  display: flex;
  align-items: center;
  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid rgb(213, 213, 213);
    background-color: #fff;
    cursor: pointer;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    margin: 0;
    &:hover {
      border: 1px solid rgb(178, 178, 178);
      background-color: rgb(231, 231, 231);
    }
    &:checked {
      background-color: var(--accent-color);
      border: 1px solid var(--accent-color);
      background-image: url('../../assets/tick.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 11px;
    }
  }
  .label {
    padding-left: 10px;
    width: fit-content;
    line-height: 130%;
  }
}
input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid rgb(213, 213, 213);
  background-color: #fff;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  margin: 0;
  &:hover {
    border: 1px solid rgb(178, 178, 178);
    background-color: rgb(231, 231, 231);
  }
  &:checked {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    background-image: url('../../assets/tick.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px;
  }
}
.label {
  padding-left: 10px;
  width: fit-content;
  line-height: 130%;
}
