.input-wrapper {
  position: relative;
}
.input {
  font-size: inherit;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: none;
  color: var(--text-color);
  border: 1px solid #f0f0f0;
  transition: all 0.3s ease;

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    background-color: white;
    transition:
      background-color 0s 600000s,
      color 0s 600000s !important;
  }

  &::placeholder {
    color: #ada7ab;
    font-weight: 400;
    font-size: 14px;
  }

  &::-ms-input-placeholder {
    color: #ada7ab;
    font-size: 14px;
  }

  &:hover {
    border-color: var(--text-color);
  }

  &:focus {
    border-color: var(--accent-color);
  }

  &:disabled {
    background-color: white;
    color: var(--text-color);
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.toggle-visibility {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.label-text {
  font-size: 14px;
  position: absolute;
  transform: translate(12px, -50%);
  padding: 0 4px;
  background: var(--white);
  color: #898989;
  z-index: 1;
}

.input-wrapper:has(.toggle-visibility) {
  input {
    padding-right: 45px;
  }
}

.search-input-wrapper {
  .search-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0.7;
  }
  .search-input {
    padding-left: 40px;
  }
}

.checkbox-group {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 16px;
  label {
    cursor: pointer;
  }
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--text-color-secondary);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  margin: 2px 0 0 0;
  &:hover {
    border: 1px solid var(--text-color);
    background-color: var(--border-color);
  }
  &:checked {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    background-image: url('../../assets/tick.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

.error-text {
  color: #e74245;
  font-size: 14px;
  margin-top: 4px;
}
