.edit-personal-form {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 480px) {
  .edit-personal-form {
    margin: 0 15px;
    .input {
      font-size: 13px;
    }
    .submit-button {
      font-size: 15px;
      padding: 10px 15px;
    }
  }
}
