.auth-page {
  h1 {
    text-align: center;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    h2 {
      margin: 0;
    }
    .form-card {
      background-color: var(--white);
      border-radius: 32px;
      padding: 32px;
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      h4 {
        width: 100%;
      }
      .form-group {
        width: calc((100% - 32px) / 2);
        &.checkbox-group {
          width: 100%;
        }
      }
    }
  }
  .links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto 0;
    gap: 20px;
    width: fit-content;
    .auth-links {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .auth-page {
    .form-container {
      .form-card {
        max-width: 100%;
        flex-direction: column;
        .form-group {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .auth-page {
    .form-container {
      .form-card {
        padding: 20px;
      }
    }
  }
}
