.btn {
  font-size: inherit;
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--accent-color-hover);
  }
  &.primary {
    border: 1px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
    &:hover {
      border: 1px solid var(--accent-color-hover);
      color: var(--accent-color-hover);
    }
  }
}
