.main-container {
  .hero-section {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .title {
      color: white;
      font-size: 4rem;
      font-weight: 600;
      margin-bottom: 20px;
      animation: fadeInDown 1s ease-out;
    }
    .subtitle {
      font-size: 1.5rem;
      font-weight: 300;
      max-width: 500px;
      line-height: 1.6;
      margin-bottom: 30px;
      animation: fadeInUp 1s ease-out;
    }
    .hero-button {
      animation: fadeInUp 1s ease-out;
      min-width: 180px;
    }
  }
  .section {
    margin: 100px 0;
    border-radius: 8px;
    .section-title {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      h2 {
        margin: 0;
      }
    }
    h2 {
      font-size: 44px;
    }
    &.featured-products {
      .featured-products-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 30px 0;
        .product-card {
          width: calc((100% - 60px) / 4);
        }
      }
    }
    &.flavors {
      background-image: url('../../assets/macarons.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      padding: 80px;
      h2 {
        max-width: 600px;
        margin-bottom: 40px;
      }
      h3 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      .flavor-flex {
        max-width: 320px;
        .flavor-card {
          padding: 20px 0;
          border-bottom: 1px solid #f7e0e4;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
  ul {
    margin: 0 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    li {
      width: calc((100% - 20px) / 2);
      background: #fff;
      border-radius: 8px;
      padding: 40px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 18px;
      &::before {
        content: '✨';
        margin-right: 10px;
      }
    }
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .main-container {
    & .section {
      &.featured-products {
        & .featured-products-grid {
          .product-card {
              width: calc((100% - 20px) / 2);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main-container {
    .hero-section {
      .title {
        font-size: 2.5rem;
      }
      .subtitle {
        font-size: 1.2rem;
      }
    }
    .section {
      margin: 60px 0px;
    }
    .section {
      &.flavors {
        padding: 40px;
        .section-title {
          margin: 0 0 20px 0;
        }
        h3 {
          font-size: 20px;
        }
      }
      h2 {
        font-size: 24px;
      }
      ul {
        li {
          width: 100%;
          padding: 20px;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .main-container {
    & .section {
      &.featured-products {
        & .featured-products-grid {
          .product-card {
            width: 100%;
          }
        }
      }
    }
  }
}
