.btn {
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--accent-color-hover);
  }
}
