.cart {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  svg {
    stroke: currentColor;
  }
  .cart-badge {
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: #ff4444;
    border: 1px solid var(--bg-color);
    color: white;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
    min-width: 18px;
    box-sizing: border-box;
    line-height: 1;
    transition: all 0.3s ease;
    &:empty {
      display: none;
    }
  }
}
