.category-nav {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 24px;
  .category-nav-title {
    font-size: 22px;
    margin-bottom: 24px;
  }
  .category-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .category-name,
    .subcategory-name {
      cursor: pointer;
      transition: color 0.2s ease;
      &:hover,
      &.selected {
        color: var(--accent-color);
      }
    }
    .category-name {
      font-weight: 600;
    }
    .subcategory-list {
      margin-left: 24px;
      margin-top: 12px;
      .subcategory-item {
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.category-nav-loading {
  padding: 20px;
  color: 898989;
}
