.profile-page {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 0;
    &:last-child {
      margin-bottom: 0;
    }
    h3 {
      margin: 0;
    }
  }
  .edit {
    width: fit-content;
    background-color: transparent;
    padding: 0;
    color: var(--accent-color);
    &:hover {
      background-color: transparent;
      color: var(--accent-color-hover);
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px;
    border-radius: 32px;
    position: relative;
    background: var(--white);
    .info-box-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    .default {
      font-size: 14px;
      background-color: var(--primary-color);
      color: var(--white);
      padding: 4px 8px;
      border-radius: 8px;
      width: fit-content;
      margin-top: -20px;
    }
  }
  .edit-pen,
  .edit-personal-pen {
    position: absolute;
    color: var(--accent-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 40px;
    right: 60px;
    padding: 0;
    &:hover {
      background-color: transparent;
      color: var(--accent-color-hover);
    }
  }
}

@media (max-width: 767.9px) {
  .profile-page {
    .card {
      padding: 30px;
      .edit-pen,
      .edit-personal-pen {
        top: 30px;
      }
      .info-box-wrapper {
        flex-direction: column;
        .info-box {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 479.9px) {
  .profile-page {
    .wrapper {
      margin: 40px 0;
    }
    .card {
      padding: 30px 20px;
      .edit-pen,
      .edit-personal-pen {
        top: 30px;
        right: 30px;
      }
    }
  }
}
