.profile-page {
  width: 100%;
  max-width: 850px;
  text-align: start;
  margin: 0 auto;
  background-color: var(--bg-color-light);
  padding: 50px 100px;
  border-radius: 8px;
  h1,
  h2,
  h3 {
    text-align: center;
    padding: 20px 0;
  }
  .edit {
    margin-top: 30px;
  }
}
