@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import './colors.css';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 130%;
  font-weight: 400;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-weight: 600;
  line-height: 130%;
  color: var(--text-color);
  margin-bottom: 20px;
}

a {
  color: var(--accent-color);
  transition: all 0.3s ease;
  &:hover {
    color: var(--accent-color-hover);
  }
}

.container {
  max-width: 1258px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
}
