.edit-billing-form,
.edit-billing,
.edit-shipping-form,
.edit-shipping,
.add-address-form,
.edit-password-form,
.edit-personal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .button-wrapper {
    display: flex;
    gap: 20px;
    .btn {
      flex: 1;
    }
  }
}

@media (max-width: 768px) {
  .edit-billing-form,
  .edit-billing,
  .edit-shipping-form,
  .edit-shipping,
  .add-address-form,
  .edit-password-form,
  .edit-personal-form {
    .button-wrapper {
      flex-direction: column;
    }
  }
}
