.catalog-page {
  .catalog-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 30px;
    gap: 20px;
  }
  .search-container {
    width: 100%;
    max-width: 600px;
  }
  .catalog-layout {
    display: flex;
    gap: 30px;
    margin-top: 20px;
  }
  .catalog-flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-self: flex-start;
    flex: 1;
    .no-products-found {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 20px;
      flex-direction: column;
      text-align: center;
      img {
        width: 180px;
      }
      p {
        font-size: 18px;
        color: #666;
      }
    }
  }
}

@media (max-width: 768px) {
  .catalog-page {
    .catalog-layout {
      flex-direction: column;
    }

    .catalog-controls {
      flex-direction: column;
      align-items: stretch;
      .search-container {
        max-width: 100%;
      }
    }
  }
}
