.select {
  cursor: pointer;
  width: 100%;
  min-width: 200px;
  padding: 15px;
  padding-right: 45px;
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  color: var(--text-color);
  transition: all 0.3s ease;
  background: #fff;
}

.select:hover {
  border-color: var(--text-color);
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-dropdown-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none;
  transition: transform 0.3s ease;
  color: var(--text-color);
}

.select:open + .select-dropdown-icon {
  transform: translateY(-50%) rotate(180deg);
}

.select-wrapper:hover .select-dropdown-icon {
  color: var(--text-color);
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  display: none;
}

select:open::picker-icon {
  display: none;
}

::picker(select) {
  margin-top: 3px;
  border: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  background: #fff;
  padding: 15px;
  transition: 0.4s;
  color: var(--text-color);
  z-index: 1000;
}

option:hover {
  color: var(--accent-color);
}

option:checked {
  background-color: var(--border-color);
  pointer-events: none;
}

option::checkmark {
  display: none;
}

::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}

::picker(select):popover-open {
  opacity: 1;
}

::picker(select) {
  top: calc(anchor(bottom) + 1px);
  left: anchor(10%);
}
