.discount-info {
  .discount-badge {
    font-weight: 400;
    width: fit-content;
    text-transform: uppercase;
    &.product {
      color: #e74c3c;
    }
    &.cart {
      color: var(--primary-color);
    }
    .discount-type {
      font-size: 14px;
      opacity: 0.8;
    }
  }
}
