.edit-password {
  .edit-password-form {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .edit-password {
    .edit-password-form {
      margin: 0 15px;
    }
  }
}
