.team-cards-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 80%;
}
.description {
  padding: 0 20px 30px;
  font-size: 13px;
  text-align: center;
}
.rs {
  display: block;
  width: 20%;
  margin: 30px auto 0;
}
.rsLogo {
  width: 100%;
  transition: 0.5s;
  img {
    width: 100%;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
@media (max-width: 800px) {
  .team-cards-container {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .about-us-page {
    h3 {
      font-size: 20px;
    }
    h1 {
      font-size: 30px;
    }
  }
  .description {
    font-size: 10px;
  }
}
@media (max-width: 550px) {
  .about-us-page {
    .team-cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }
}
